<div class="country">
  <mat-card>
    <mat-card-content>
      <h5>{{ country.name }} {{ country.flag }}</h5>
      <h6>{{ country.nativeName }}</h6>
      <mat-divider></mat-divider>
      <div>
        <div><strong>Abbreviation :</strong> {{ country.code }}</div>
        <div><strong>Capital :</strong> {{ country.capitalCity }}</div>
        <div><strong>Continent :</strong> {{ country.continent }}</div>
        <div><strong>Country Code:</strong> {{ country.countryCode }}</div>
        <div><strong>Languages :</strong> {{ country.languages }}</div>
        <div><strong>Currencies :</strong> {{ country.currencies }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
